extends layout

block content

  h1 Category: #{category.name}
 

  div(style='margin-left:20px;margin-top:20px')

    h2(style='font-size: 1.5rem;') Products
    if category_products.length
      dl
        each product in category_products
          dt
            a(href=product.url) #{product.name}
          dd #{product.description}
    else
      p This Category has no products.
  
  hr
  p
    a(href=category.url+'/delete') Delete Category
  p
    a(href=category.url+'/update') Update Category
    