extends layout

block content

  h1 #{title}: #{product.name}

  p #[strong Category: ]
    a(href=product.category.url) #{product.category.name}
  p #[strong Description:] #{product.description}
  p #[strong SKU:] #{product.sku}
  p #[strong Price:] #{product.price}
  p #[strong Quantity:] #{product.quantity}
  p #[strong Suppliers: ]
    each val, index in product.supplier
      a(href=val.url) #{val.name}
      if index < product.supplier.length - 1
        |,&nbsp;

  hr

    p Do you really want to delete this Book?

    form(method='POST')
      div.form-group
        input#id.form-control(type='hidden',name='id', value=product._id )

      button.btn.btn-primary(type='submit') Delete